/* Root Variables and Theming */
:root {
  --dark-bg: #1c1c1c;
  --dark-text: #ffffff;
  --lightbg: #fff;
  --light-text: #000;
  --toggle-height: 16em;
  --toggle-width: 30em;
  --toggle-btn-radius: 10em;
  --bg-color-night: #423966;
  --moon-color: #d9fbff;
  --bg-color-day: #9ee3fb;
  --bg-color: #f0f0f0; 
  --text-color: #0d1b2a;
  --input-bg: #ffffff;
  --focus-color: #3d2c8d; 
  --border-color: #c0c0c0;
  --btn-bg: #3d2c8d;
  --btn-hover-bg: #80d3f7;
  --text-color-light: #0d1b2a;  
  --icon-color-light: #0d1b2a;
}

[data-theme="dark"] {
  --bg-color: var(--dark-bg);
  --text-color: var(--dark-text);
  --input-bg: #142842;
  --focus-color: #80d3f7;
  --border-color: #2e75b6;
  --btn-bg: #80d3f7;
  --btn-hover-bg: #3d2c8d;
  --icon-color: var(--icon-color-dark);
}

[data-theme="light"] {
  --bg-color: var(--light-bg);
  --text-color: var(--light-text);
  --input-bg: #ffffff;
  --focus-color: #3d2c8d;
  --border-color: #c0c0c0;
  --btn-bg: #3d2c8d;
  --btn-hover-bg: #80d3f7;
  --icon-color: var(--icon-color-light);
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body {
  background: radial-gradient(circle at bottom, navy 0, black 100%);
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: 'MedievalSharp', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

#logo img {
  width: 100px; 
  height: auto;
}

.nav-links {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-grow: 1;
}

.nav-links a {
  text-decoration: none;
  color: #a9a9a9;
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 5px;
}

.nav-links a:hover {
  background-color: rgba(60, 60, 60, 0.5);
  color: #ffffff;
  transform: scale(1.1);
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

/* Theme Toggle Button */
.light {
  background: var(--lightbg);
  color: var(--lightt);
}

.tdnn {
  cursor: pointer;
  /*change size*/
  font-size: 20%;
  margin-top: 10em;
  position: absolute;
  top: 10px;
  right: 3rem;
  height: var(--toggle-height);
  width: var(--toggle-width);
  border-radius: var(--toggle-height);
  transition: background-color 0.2s ease;
  background: var(--bg-color--night);
}

.day {
  background: #ffaf01;
}
.moon {
  position: absolute;
  display: block;
  border-radius: 50%;
  transition: all 400ms ease-in-out;
  top: 3em;
  left: 3em;
  transform: rotate(-75deg);
  width: var(--toggle-btn-radius);
  height: var(--toggle-btn-radius);
  background: var(--bg-color-night);
  box-shadow: 3em 2.5em 0 0em var(--moon-color) inset,
    rgba(255, 255, 255, 0.1) 0em -7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 2em 13em 0 -4em,
    rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em,
    rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em,
    rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em;
}
.sun {
  top: 4.5em;
  left: 18em;
  transform: rotate(0deg);
  width: 7em;
  height: 7em;
  background: #fff;
  box-shadow: 3em 3em 0 5em #fff inset, 0 -5em 0 -2.7em #fff,
    3.5em -3.5em 0 -3em #fff, 5em 0 0 -2.7em #fff, 3.5em 3.5em 0 -3em #fff,
    0 5em 0 -2.7em #fff, -3.5em 3.5em 0 -3em #fff, -5em 0 0 -2.7em #fff,
    -3.5em -3.5em 0 -3em #fff;
}

/* Content */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
  overflow: hidden;
}

.logo-slogan {
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 2s ease-out forwards;
}

.logo-slogan h1 {
  margin: 0;
  font-size: 10rem;
  color: rgba(225,225,225, .01);
  background-image: url("https://images.alphacoders.com/124/1248273.png");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

.logo-slogan p {
  margin: 0;
  font-size: 3rem;
  color: rgba(225,225,225, .01);
  margin-top: 20px;
  background-image: url("https://images.alphacoders.com/124/1248273.png");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

.team-section {
  text-align: center;
  padding: 50px 20px;
  min-height: 100vh;
}

.team-description {
  color: #6d6d6d;
  font-size: 2rem;
  margin: 0 5% ; 
  margin-left: 21%;
  text-shadow: 10 0 10px rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 900;
  animation: fadeInUp 2s ease-out forwards;
}

.team-cards {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.team-card {
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-card:hover {
  background-color: rgba(60, 60, 60, 0.5);
  color: #ffffff;
  transform: scale(1.08);
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.team-img {
  border-radius: 50%;
  width: 150px; 
  height: 150px;
  margin-bottom: 20px;
}

.team-name {
  font-size: 24px;
  margin: 10px 0;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.team-role {
  font-size: 18px;
  margin-bottom: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

#projects {
  padding: 20px 40px;
  border-radius: 30px;
  background-color: var(--bg-color);
  text-align: center;
  transition: background-color 0.3s ease;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 1%;
}

.project-card {
  background-color: var(--card-bg-color);
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  background-color: rgba(60, 60, 60, 0.5);
  color: #ffffff;
  transform: scale(1);
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.project-img {
  border-radius: 20%;
  width: 300px;
  height: auto;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: 35px;
  margin-bottom: 10px;
  color: var(--highlight-color);
  transition: color 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.project-card p {
  font-size: 25px;
  line-height: 1.5;
  color: var(--highlight-color);
  transition: color 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.project-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.project-links a {
  text-decoration: none;
  transition: transform 0.2s ease, color 0.3s ease, text-shadow 0.3s ease;
  color: var(--text-color);
}

.project-links a:hover {
  transform: scale(1.2);
  color: #80D3F7; 
  text-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

.icon {
  width: 32px;
  height: 32px;
}

/* Contact */

.contact-box {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  background: var(--input-bg);
  border: 1px solid var(--border-color);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.social-media a {
  color: var(--icon-color);
  font-size: 3rem; /* Увеличиваем размер иконок */
  margin: 50px;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block; /* Для применения трансформации */
  animation: popIn 1s ease forwards;
}

.social-media a:hover {
  color: #80D3F7;
  transform: scale(1.2);
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

@keyframes popIn {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  80% {
      transform: scale(1.2);
      opacity: 0.5;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 15px;
  text-align: center;
  z-index: 100;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease, color 0.3s ease;
}

footer.light-mode {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}

footer .social-media a {
  color: inherit;
  font-size: 24px;
  margin: 0 17px;
  transition: all 0.3s ease-in-out;
}

footer .social-media a:hover {
  color: #80D3F7;
  transform: scale(1.2);
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

footer p {
  margin: 10px 0 0;
  font-size: 20px;
  color: inherit;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

/*animation*/  
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

@keyframes animate {
  0%, 100% {
    background-position: left top;
  }
  25%{
    background-position: right bottom;
   }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }   
}

/* Media Queries */
@media (max-width: 1024px) {
  header {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .project-cards {
    gap: 15px; 
  }

  .team-cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  footer {
    font-size: 0.9rem;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  .main-section {
    font-size: 1rem;
    padding: 15px;
  }

  .project-card,
  .team-card {
    width: 100%;
    padding: 15px;
  }

  footer {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  header {
    padding: 5px;
  }

  .project-card img,
  .team-card img {
    width: 100%;
    height: auto;
  }

  footer {
    font-size: 0.7rem;
  }
}